<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteRule ^vendor/ - [F,L]
</IfModule>

# Deny access to vendor directory
<IfModule !mod_rewrite.c>
    <Files "vendor/*">
        Order Allow,Deny
        Deny from all
    </Files>
</IfModule>